/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Rubik', sans-serif;
   background-color: #FAFBFC;
 }

 h1 {
   padding-left: 20px;
 }

 ul {
   padding-left: 0;
 }

 li {
   list-style-type: none;
   margin-left: 0;
 }

 li.player {
   margin-bottom: 20px;
 }

 .container {
   width: 90%;
   margin: 0 auto;
 }

 .role-panel {
   min-width: 340px;
   background-color: #fff;
   margin: 0 20px 40px 20px;
   padding: 20px;
   width: 27%;
   float: left;
   border-radius: 8px;
   box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0,0,0,.1);
 }

 ul.player-statistics li {
   color: #888;
 }

 .poor-rating {
   color: red;
 }

 .ok-rating {
   color: #FFA500;
 }

 .good-rating {
   color: #008000;
 }

 .very-good-rating {
   color: #32CD32;
 }

 .excellent-rating {
   color: #C0C0C0;
 }

 .world-class-rating {
   color: #c2b73e;
 }
